@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    text-align: center;
    color:white;
    padding: 50px 0px;
}

header> h1 {    
    font-variant: small-caps;
    font-size: 80px;
    font-weight: bolder;    
}

header> p {    
    font-size: xx-large;    
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {    
    text-decoration: underline;   
}

section {
    padding-bottom: 10vh;
    padding-top: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: gray;
    color: white;
}

section.imagem > p {
    display: inline-block;
    max-width: fit-content;
    background-color: rgba(44, 38, 38, 0.267);
    border:1px solid rgba(0, 0, 0, 0.322);
    /*Aqui ele apenas colocou width de 400px até agora*/
}

footer {
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
    padding: 10px;
}

footer p {
    
    font-size: 30px;
    
}


    

